@model SuperCarros.VenderCarro

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VenderCarro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Dueño)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Dueño)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono_Dueño)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono_Dueño)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Año)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Año)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Transmision)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Transmision)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Millaje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Millaje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tracción)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tracción)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Combustible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Combustible)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Puertas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Puertas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pasajeros)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pasajeros)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lugar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lugar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imagen_Vehiculo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imagen_Vehiculo)
        </dd>

    </dl>
</div>

